plugins:
  resolvers:
    - https://github.com/{{index GroupParts 1}}/{{index GroupParts 2}}/releases/download/v{{Version}}/{{Product}}-{{Version}}-{{OS}}-{{Arch}}.tgz
  plugins:
    - locator:
        id: com.palantir.godel-amalgomate-plugin:amalgomate-plugin:1.52.0
        checksums:
          darwin-amd64: 10b88d3d1091c769cfa7c664e689058fffa6d332e972917f8d17de5e46549670
          darwin-arm64: 08206c7dc5668d1c29fdc362ae9d35400a989f42216b7a874e6c541fb9c55050
          linux-amd64: 84fa025f5ec459b5bdc5d732e9d2af01c0dcadfb287bd33d8ef1a41efeae9f1c
          linux-arm64: 41cd677d14aad4a00a620f0055c3076213c4f60e8e35caf4e323dfdadeed87eb
    - locator:
        id: com.palantir.godel-mod-plugin:mod-plugin:1.51.0
        checksums:
          darwin-amd64: 6ff72bb11b5f9e4a0dff8f7825e6a6f6996113f9e03e86a9e8d03e2b7d35ce00
          darwin-arm64: f16821dc59b157420124fdde618aa5ba0c3436d99970979cb607261d138a0ce2
          linux-amd64: 9a9c12b41d31f18986299103ded67fcbfab04078a06726c743e4c7e5f4fe1be7
          linux-arm64: a6a95432dc1e9cc32f705a541cd6b355e833a7144c140f53b9029dea5ac5a024
environment:
  GO111MODULE: "on"
  GOFLAGS: "-mod=vendor"
exclude:
  names:
    - \..+
    - vendor
    - generated_src
  paths:
    - godel
